<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Controlador</servlet-name>
        <servlet-class>controlador.ControladorProductos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Validar</servlet-name>
        <servlet-class>controlador.Validar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cerrarSesion</servlet-name>
        <servlet-class>controlador.cerrarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Auditoria</servlet-name>
        <servlet-class>controlador.ControladorAuditoria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorUsuarios</servlet-name>
        <servlet-class>controlador.ControladorUsuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorClientes</servlet-name>
        <servlet-class>controlador.ControladorClientes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorInventario</servlet-name>
        <servlet-class>controlador.ControladorInventario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorCompra</servlet-name>
        <servlet-class>controlador.ControladorCompra</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorProveedores</servlet-name>
        <servlet-class>controlador.ControladorProveedores</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Controlador</servlet-name>
        <url-pattern>/Controlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Validar</servlet-name>
        <url-pattern>/Validar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cerrarSesion</servlet-name>
        <url-pattern>/cerrarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Auditoria</servlet-name>
        <url-pattern>/Auditoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorUsuarios</servlet-name>
        <url-pattern>/ControladorUsuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorClientes</servlet-name>
        <url-pattern>/ControladorClientes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorInventario</servlet-name>
        <url-pattern>/ControladorInventario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorCompra</servlet-name>
        <url-pattern>/ControladorCompra</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorProveedores</servlet-name>
        <url-pattern>/ControladorProveedores</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
